<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mbg.refreshlayout"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NestedRecyclerViewActivity">
        </activity>
        <activity android:name=".NestedScrollViewActivity">
        </activity>
        <activity android:name=".NestedListViewActivity">
        </activity>
        <activity android:name=".NestedGridViewActivity">
        </activity>
        <activity android:name=".NestedNormalViewActivity">
        </activity>
        <activity android:name=".NestedWebviewActivity">
        </activity>
        <activity android:name=".NestedHorizontalScrollViewActivity">
        </activity>
        <activity android:name=".NestedHorizontalRecyclerActivity">
        </activity>
        <activity android:name=".MorePageActivity">
        </activity>
        <activity android:name=".NestedDoubleDirectionActivity">
        </activity>
    </application>

</manifest>